  <form action="/login/index_do">
    <table>
      <tr>
        <td>Login:</td>
        <td><input type="text" name="form[login]" value=""><br></td>
      </tr>
      <tr>
        <td>Senha:</td>
        <td><input type="password" name="form[senha]" value=""><br></td>
      </tr>
      <tr>
        <td>
          <a href="<%= url_for :controller => 'usuarios', :action => 'new' -%>">Cadastro</a>
        </td>
        <td align="right"><input type="submit" value="Entre"></td>
      </tr>
    </table>
  </form>

